* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
.battleStatistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-family: "Pokemon Solid";
}

.imageContainer {
  width: 28vw;
}

.pokemonImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.textContainer > h3 {
  font-size: 1.5em;
  font-family: "Pokemon Solid";
  letter-spacing: 2px;
  color: blue;

  text-shadow: 3px 3px 3px white;
}

.title {
  background-color: rgba(0, 0, 0, 0.575);
  width: 100%;
  color: white;
  font-size: 1.5em;
  letter-spacing: 5px;
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
  .imageContainer {
    width: 100vw;
    height: 50vh;
  }
}

.popup-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 99vh;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
  padding: 30px;
  width: 100%;
  max-width: 640px;
  background-color: white;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
  padding: 5px;
}

.player {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  /* margin-bottom: 5px; */
  background-color: #eee;
}

.playerBtn {
  width: 50px;
  height: 50px;
  background-color: #faea48;
}

.showResultsBtn {
  background-color: black;
  color: white;
  padding: 4px;
  margin: 5px;
  font-size: 1.1em;
  font-family: "Pokemon Solid";
  text-decoration: none;
  width: 200px;
  align-self: center;
  letter-spacing: 2px;
}

.playerName,
.playerScore {
  font-size: 30px;
}
.textContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
