.buttonComponent {
  background-color: #0096ff;
  font-size: 1.3em;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  padding: 5px;
  width: 250px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 4px 4px 12px rgba(209, 200, 79, 0.733);
  transition: all 0.3s ease-in-out 0s;
  outline: none;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  color: white;
  font-family: "Pokemon Solid";
  letter-spacing: 2px;
}

.buttonComponent:hover {
  color: white;
  transform: scale(1.1);
  transition: ease-in 0.5s;
  background-color: #2a2a72;
  background-image: linear-gradient(0deg, #2a2a72 0%, #00a0fd 100%);
  border: 2px groove #f6d327;
}
@media only screen and (max-width: 1200px) {
  .buttonComponent {
    width: 90px;
    height: 20vh;
  }
}
