:root {
  --custom-border-color: #2971b8ff;
  --custom-border-color-hover: #00fff1ff;
  --custom-type-color: #ffff0065;
  --custom-type-color-hover: #faed27;
}

.card {
  position: relative;
  border-radius: 20px;
  border: 2px solid var(--custom-border-color);
  width: 345px;
  height: 400px;
  margin: 20px;
  padding: 8px;
  background-color: #f6d327;
  background-image: linear-gradient(315deg, #f6d327 0%, #de4daa 74%);
  /*box-shadow: 0px 2px 2px 0px var(--custom-border-color);*/
  box-shadow: 0px 5px 10px 10px #2971b8aa;
  text-align: -webkit-center;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card.winner {
  background-color: green;
}
.card.looser {
  background-color: red;
}
.card:hover {
  /* transform: translateY(-5px);*/
  /*box-shadow: 0px 10px 20px 2px var(--custom-border-color-hover); */
  box-shadow: 6px 15px 15px 2px var(--custom-border-color-hover);
  border: 2px solid var(--custom-border-color-hover);
  background-size: 107% 107%;

  transform: rotate3d(30, -2, -2, 20deg);
}

.card-container {
  position: relative;
  /*width: 100%;*/
  /*height: 100%;*/
  width: 190px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.id-div {
  position: absolute;
  bottom: 83px;
  width: 43px;
  height: 22px;

  color: #faed27;
  font-family: "Pokemon Solid";
  font-weight: inherit;
  font-size: 23px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #50a8b4;
  border-radius: 80px;
  /*border: 3px solid #faed27;*/
  border: 2px solid #ffcfcf;
  padding-bottom: 10px;
}

.name {
  text-transform: capitalize;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  font-family: "Pokemon Solid";
  color: #372549;
  font-size: 1.5em;
  height: 60px;
  width: 100%;
}
.details-container {
  width: 100%;
  /*height: 35%;*/
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*gap: 10px;*/
  justify-content: space-around;

  background-image: linear-gradient(to top, #ffffff, #ffe9ff, #ffe1f1);

  border: 2px solid #ffcfcf;
  border-radius: 0 0 15px 15px;
  box-shadow: 0px 5px 10px 0px #ffe1f155;
}

.img-shadow-div {
  width: 100%;
  height: 55%; /* 50px */
  display: flex;
  /*justify-content: center;*/
  /*align-content: center;*/
  /*align-items: center;*/
  flex-direction: column;
  /*padding: 5%;*/
}

.img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  height: 98%; /* 50px */
  width: 100%;
}

.img-div:hover {
  height: 100%;
  width: 100%;
}

.pokemon-image {
  width: 100%;
  height: 90%;
}

.pokemon-image:hover {
  /*width: 100%;*/
  /*height: 100%;*/
}

.shadow {
  position: relative;

  width: 70%;
  height: 3%;
  border-radius: 80%;
  background: #000;
  opacity: 0.3;
}

.types-container {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.type {
  font-family: cursive;
  height: 30px;
  padding: 0 10px;
  margin: 0 10px;
  border: 1px solid gray;
  border-radius: 13px;
  font-size: 18px;
  background-color: var(--custom-type-color);
  color: #505050;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  box-shadow: 1px 1px var(--custom-border-color);

  -webkit-box-shadow: inset 1px 1px 10px 0 #ffffff;
  -moz-box-shadow: inset 1px 1px 10px 0 #ffffff;
  box-shadow: inset 1px 1px 10px 0 var(--custom-border-color);
  /*color: white;*/

  /*font-weight: 1000;*/
  font-family: Winner;
  text-shadow: #ffffff88 1px 1px 1px;
  /*text-transform: uppercase;*/
}

.type:hover {
  border: 1px solid gray;
  background-color: var(--custom-type-color-hover);
  /*box-shadow: 1px 1px var(--custom-border-color-hover);*/
  border-radius: 4px 13px;
  padding: 0 15px;
  margin: 0 5px;
  color: #000000;
}
.battleground.page {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.battleground.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  position: relative;
}

.roundAnnouncer {
  width: 700px;
  height: 100px;
  background: transparent;
  border: none;
  font-size: 5em;
  font-family: "Cartoon";
  transform: scale(1.2);
  /*color: #ff0000;*/
  color: red;
  /*text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;*/
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;
}
.roundAnnouncer {
  -webkit-animation: ease-in-out 2s linear forwards;
  animation: ease-in-out 2s linear forwards;
}
.roundAnnouncer.next {
  font-size: 3em;
}
.roundAnnouncer.statistics {
  font-size: 3em;
  text-decoration: none;
  color: black;
  opacity: 0.8;
}
.gameHeartRemaining {
  position: absolute;
  display: flex;
  /*width: 50px;*/
  align-self: flex-start;
  flex-direction: column;

  /*top: 10px;*/
  right: 2vw;
}

.heart-img {
  color: red;
}

.example-appear {
  opacity: 0.01;
  z-index: 1;
}
.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 2s linear;
}
.example-appear.example-apper-done {
  transform: scale(1.5);
  opacity: 1;
}

.boosted{
  position: absolute;
  top: 0px;
  left: 20px;
  z-index: 2;
  height: 70px;
  /*width: 150px;*/
  /*size: 20px 20px;*/
  background-color: transparent !important;
}

.boosted::after {
  background-image: none !important;
}

.battleground .versus {
  position: absolute;
  display: flex;
  align-self: center;
  z-index: 2;
  height: 200px;
  background-color: inherit !important;
}
.battleground.versus::after {
  background-image: none;
}
.button-interaction {
  position: absolute;
  width: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /*bottom: 50px;*/
  left: 50px;
}
@media only screen and (max-width: 1200px) {
  .battleground.versus {
    height: 15vw;
  }

  .boosted{
    bottom: 0px;
    left: 20px;
  }

  .cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
  }
  .card-container {
    width: 100vw;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .card {
    width: 70vw;
    height: 20vh;
    flex-direction: row;
  }
  .gameHeartRemaining {
    font-size: 50px !important;
    display: flex;
    flex-direction: column;
  }
  .button-interaction {
    position: absolute;
    top: 80%;
    left: 0px;
    flex-direction: row;
    width: 100vw;
    height: 10vh;
  }
  .battleground.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
  }
  .id-div {
    left: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .battleground.versus {
    height: 300px;
  }
  .cards-container {
    margin: 20px;
    width: 70%;
    top: 50px;
    display: flex;
    justify-content: space-around;
    align-self: center;
  }

  /*.card {*/
  /*  !* width: 30vw; *!*/
  /*  width: 400px;*/
  /*}*/
}
@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.cards-container ::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  /* transform: scale(1) translateZ(0); */
  filter: blur(10px);
  background: linear-gradient(
    to left,
    #ff5770,
    #e4428d,
    #c42da8,
    #9e16c3,
    #6501de,
    #9e16c3,
    #c42da8,
    #e4428d,
    #ff5770
  );
  background-size: 200% 200%;
  animation: animateGlow 1.25s linear infinite;
}

.card:first-of-type {
  position: relative;
  animation: zoom-in-zoom-out 2s ease infinite;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.08, 1.08);
  }
  100% {
    transform: scale(1, 1);
  }
}
