.root {
  --default-size: 25px;
}

.multipliers-page-div {
  font-family: Winner;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  /*flex-wrap: wrap;*/
  /*width: 1000px;*/
  /*background-color: #ffcfcf;*/
  /*padding: 15px;*/
  /*border-radius: 20px;*/
  /*border: 1px solid black;*/
}

.multipliers-table {
  align-self: center;
}

.table-div {
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-self: center;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.table-title {
  font-size: 2em;
}

.multipliers-table-row {
}

.multipliers-table-cell {
  width: 10px;
  height: 10px;
  border: 1px solid crimson;
  font-size: 0.9em;
}

.first-row {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  height: 30px;
  width: 20px;
}

.first-column {
  width: 30px;
  height: var(--default-size);
}

.bold {
  font-weight: bold;
}

.selected-attack {
  background-color: #3af334cc;
}

.selected-defence {
  background-color: #ff0000cc;
}
.pokeball-img {
  width: 40px;
  height: 40px;
}

.compare-container {
  margin: 10px;
  /*position: relative;*/
  width: 20%;
  height: 50vh;
  /*background-color: black;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
@media only screen and (max-width: 1200px) {
  .multipliers-table-cell {
    font-size: 0.5em;
  }
  .multipliers-page-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
  }
  .compare-container {
    width: 60vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
  }
}
