@import url('http://fonts.cdnfonts.com/css/pokemon-solid');
/*@font-face { font-family: Electrox; src: url('electrox.ttf'); }*/
@font-face { font-family: Cartoon; src: url('Cartoon_Regular.ttf'); }
@font-face { font-family: Frontage; src: url('frontage_Condensed.otf'); }
@font-face { font-family: Winner; src: url('winner-condregular.otf'); }