.App {
  text-align: center;
  height: 100vh;
  cursor: url("./img/cursor.png"), auto;
  width: 100vw;
}

.topscreen-message {
  width: 80%;
  position: absolute;
  top: 50px;
  text-align: center;
  font-family: "Pokemon Solid";
  letter-spacing: 3px;
  font-size: 3em;
  color: #f3c434;
  text-shadow: 1px 1px 2px black;
  line-height: 50px;
  text-align: end;
}

.cards-container {
  align-items: center;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  z-index: -1;
}

.pokeball {
  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 1;
}
