.introPage {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  transform: scale(1);
}

.logo {
  width: 60vw;
  z-index: 1;
}

.button {
  max-width: 300px;
  width: 100%;
  max-height: 100px;
  height: 100%;
  position: relative;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 4px 4px 12px rgba(209, 200, 79, 0.733);
  transition: all 0.3s ease-in-out 0s;
  outline: none;
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
  bottom: 70px;
  cursor: url("../../img/cursor.png"), auto;
}
.button:hover {
  transform: scale(1.2);
  transition: ease-in 0.5s;
}
.buttonLogo {
  position: absolute;
  width: 100%;
  top: 15px;
  left: 0;
}

.rules-button {
  max-width: 20vw;
  width: 100%;
  max-height: 100px;
  height: 100%;
  position: absolute;
  background-size: cover;
  border-radius: 10px;
  /*box-shadow: 4px 4px 12px rgba(209, 200, 79, 0.733);*/
  transition: all 0.3s ease-in-out 0s;
  outline: none;
  /*background-color: #2a2a72;*/
  /*background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);*/
  bottom: 80px;
  right: 30px;
  cursor: url("../../img/cursor.png"), auto;
}

.rules-button:hover {
  transform: scale(1.1);
  transition: ease-in 0.5s;
}

.rules-img {
  position: absolute;
  width: 70%;
  top: -6px;
  left: 40px;
}

@media only screen and (max-width: 1000px) {
  .logo {
    width: 80vw;
  }
  .introPage {
    justify-content: space-around;
  }
  .button {
    bottom: -20px;
    max-height: 15vh;
    max-width: 50vw;
    width: 100%;
    height: 100%;
  }
  .rules-button {
    display: flex;
    top: 30px;
    right: 20px;
    align-self: center;
    width: 20vw;
    height: 10vh;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 1000px) {
  .logo {
    width: 70vw;
  }
}
.button:first-of-type {
  position: relative;
  animation: zoom-in-zoom-out 1.5s ease infinite;
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.button::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(1.1) translateZ(0);
  filter: blur(10px);
  background: #1488cc;

  background: linear-gradient(to right, #2b32b2, #1488cc);

  background-size: 200% 200%;
  animation: animateGlow 2s linear infinite;
}
